imageProcessor.json
{
  "Comment": "A Hello World example of the Amazon States Language using a Pass state",
  "StartAt": "GetFileType",
  "States": {
    "GetFileType": {
      "Type": "Pass",
      "Next": "CheckFileType"
    },
    "CheckFileType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.results.fileType",
          "StringEquals": "jpg",
          "Next": "ProcessFile"
        }
      ],
      "Default": "DeleteSourceFile"
    },
    "DeleteSourceFile": {
      "Type": "Pass",
      "End": true
    },
    "ProcessFile": {
      "Type": "Parallel",
      "Next": "WritetoDynamodb",
      "Branches": [
        {
          "StartAt": "CopyToDestination",
          "States": {
            "CopyToDestination": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "ResizeImage",
          "States": {
            "ResizeImage": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ]
    },
    "WritetoDynamodb": {
      "Type": "Pass",
      "Next": "DeleteSourceFile"
    }
  }
}
